:root{
  --cor-fundo: #004f94 ;
  --cor-principal: #37a6b4 ;
  --cor-secundaria: #10adb3; 
  --cor-destaque: #16b4b9;
  --cor-texto: #a6d4e9;

}

body {
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.caixa-principal{
  background-color: var(--cor-principal);
  width: 90%;
  max-width: 600px;
  text-align: center;
  padding: 20px;
}

h1{
  color: var(--cor-destaque);
}
